registry=https://pkgs.dev.azure.com/AzureDevOps-BNE/_packaging/BNE/npm/registry/
always-auth=true

//pkgs.dev.azure.com/AzureDevOps-BNE/_packaging/BNE/npm/registry/:username=AzureDevOps-BNE
//pkgs.dev.azure.com/AzureDevOps-BNE/_packaging/BNE/npm/registry/:_password="bHJqZG94ZXhjbWVtaXV3MnZma3RsY2ppenhtN2ZxM3ZheGVvN3lpaHRvcmUycGRiZ3A0YQ=="
//pkgs.dev.azure.com/AzureDevOps-BNE/_packaging/BNE/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/AzureDevOps-BNE/_packaging/BNE/npm/:username=AzureDevOps-BNE
//pkgs.dev.azure.com/AzureDevOps-BNE/_packaging/BNE/npm/:_password="bHJqZG94ZXhjbWVtaXV3MnZma3RsY2ppenhtN2ZxM3ZheGVvN3lpaHRvcmUycGRiZ3A0YQ=="
//pkgs.dev.azure.com/AzureDevOps-BNE/_packaging/BNE/npm/:email=npm requires email to be set but doesn't use the value
