<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário Salvo</title>
</head>
<body>
    <script>
        alert('Usuário <%= userName %> salvo no sistema!');
        window.location.href = '/users/add';
    </script>
</body>
</html>
